<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.backenddemo.mapper.ArGatherbillMapper">

    <select id="getGatherbillByPk" resultType="org.example.backenddemo.entity.ArGatherbill">
        select pk_gatherbill,
               pk_org,
               pk_customer,
               create_date,
               billmaker,
               pk_currency,
               rate,
               money,
               local_money,
               remain_money,
               bill_status,
               write_off_status
        from AR_GATHERBILL
        where pk_gatherbill = #{pk_gatherbill}
    </select>

</mapper>
