<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.backenddemo.mapper.ArRecbillMapper">

    <select id="getRecbillByPk" resultType="org.example.backenddemo.entity.ArRecbill">
        select pk_recbill,
               pk_org,
               pk_customer,
               create_date,
               due_date,
               billmaker,
               pk_currency,
               rate,
               money,
               local_money,
               remain_money,
               invoiceno,
               bill_status,
               write_off_status
        from AR_RECBILL
        where pk_recbill = #{pk_recbill}
    </select>
    <update id="updateRecbillAsWriteoff">
        update AR_RECBILL
        set remain_money     = #{remain_money},
            write_off_status = #{write_off_status}
        where PK_RECBILL = #{pk_recbill}
    </update>

</mapper>
