<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.backenddemo.mapper.BdAccountMapper">

    <select id="getAccountByPk" resultType="org.example.backenddemo.entity.BdAccount">
        select pk_account as pk_account,
               name       as name
        from BD_ACCOUNT
        where PK_ACCOUNT = #{pk_account}
    </select>

</mapper>
